:root {
    --red-text-color : rgb(230,44,37);
    --black-text-color : rgb(0, 0, 0);
    --border-color : rgb(235,235,235);
    --while-color : #fff;
    --icon--color : rgb(207,208,201);
    --minuscule--color: rgb(161,161,161); 
    --text--red--color: red;
    --color--hover: rgba(49, 61, 63, 0.8);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

body {
    width: 100%;
}
/* begin head */
header {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.head-text {
    background-color: var(--red-text-color);
}
/* begin top head */
.head__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1150px;
    padding: 0 10px;
    margin: 0 auto;
}

.head__box-left {
    display: flex;
}

.head__box-left:hover{
    cursor: pointer;
    opacity: 0.8px;
}

.box__logo-link {
    height: 42px;
    text-decoration: none;
}

.logo__img {
    width: auto;
}

.box__language {
    display: flex;
    align-items: center;
    color: var(--while-color);
    cursor: pointer;
}

.box__language:hover {
    color: var(--while-color);
}

.box__language:hover {
    color: var(--while-color);
}


.language__txt {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 300;
}

.language__icon {
    margin-left: 3px;
    margin-bottom: 7px;
    font-size: 1.4rem;
}

.box__language:hover .language__icon i{
    border: 1px solid var(--while-color);
}

.language__icon i {
    padding: 0 5px 4px 5px;
    border-radius: 50%;
}

.head__box-right {
    display: flex;
    align-items: center;
}

.login__btn {
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 15px;
}

.login__btn:hover{
    color: rgb(50, 50, 50);
}

.member__btn {
    padding: 15px 0;
    margin-left: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    background-color: var(--while-color);
    color: var(--black-text-color);
    border-radius: 2px;
    width: 180px;
    border: none;
}

.member__btn:hover {
    background-color: rgb(165, 65, 31);
}

/* end top header  */

/* begin head menu */
.head_menu {
    align-items: center;
    justify-content: space-between;
    background-color: var(--while-color);
    height: 90px;
    display: flex;
    max-width: 1150px;
    padding: 0 10px;
    margin: 0 auto;
}

.head__menu-main {
    display: flex;
}

.menu__main {
    cursor: pointer;
    display: flex;
    list-style: none;
}

.menu__item {
    display: flex;
    position: relative;
    font-size: 1.8rem;
    padding-right: 24px;
}

.menu__item--icon {
    margin-top: -4px;
    margin-left: 5px;
}

.menu__item:hover .home__nav {
    display: block;
}

.menu__item--before::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 40px;
    top: 10px;
    left: 0;
    z-index: 1;
}

.menu__item--btn {
    text-decoration: none;
    color: var(--black-text-color);
}

.menu__item:hover ,
.menu__item--btn:hover {
    color: var(--text--red--color);
}

.home__nav {
    position: absolute;
    width: 210px;
    height: 142px;
    top: 30px;
    left: 0;
    background-color: var(--while-color);
    display: none;
    font-size: 1.2rem;
}

.home__item i {
    margin-top: 3px;
}

.home__main {
    border: 1px solid var(--border-color);
}

.home__item {
    justify-content: space-between;
    padding: 15px;
    margin: 0 10px;
    color: var(--black-text-color);
    display: flex;
    position: relative;
}

.home__item::before, .home__item-link::before{
    position: absolute;
    content: "";
    width: 185px;
    height: 30px;
    z-index: 1;
}

.home__item + .home__item {
    border-top: 1px solid var(--border-color);
}

.home__item-link {
    
}

.home__item:hover,
.home__item-link:hover {
    color: var(--red-text-color);
}

.third{
    position: absolute;
    width: 210px;
    height: 240px;
    top: 0;
    left: 199px;
    background-color: var(--while-color);
    display: none;
}

.third__nav {
    border: 1px solid var(--border-color);
    list-style: none;
}

.third__item {
    padding: 15px 20px;
    margin: 0 10px;
}

.third__item a{
    font-size: 14px;
}

.third__item + .third__item{
    border-top:1px solid var(--border-color);
}

.third__item:hover a {
    color: var(--text--red--color);
}

.home__item:hover .third {
    display: block;
}

.menu__main a {
    text-decoration: none;
    color: var(--black-text-color);
}

.nav_bars-btn {
    color: var(--black-text-color);
    font-size: 5rem;
    display: none;
}

.nav_input {
    display: none;
}

.nav_input:checked ~ .nav_overlay {
    display: block;
}

.nav_input:checked ~ .nav_mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: faceIn linear 0.2s;
}

@keyframes faceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav_mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 300px;
    background-color: var(--while-color);
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    opacity: 0;
}

.nav-close {
    font-size: 3rem;
    right: 0;
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
}

.menu__main-mobile {
    
    margin-top: 40px;
}

.menu__item-mobile {
    font-size: 2.5rem;
    padding: 15px;
    display: block;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.menu__item-mobile:hover {
    cursor: pointer;
    background-color: var(--border-color);
}

.menu__item--btn-mobile {
    text-decoration: none;
    color: var(--black-text-color);
}

.home__nav-mobile {

}

.home__main-mobile {

}

.home__item-mobile {
    
}

.home__item-link-mobile {

}


.next__search {
    width: 270px; 
    background-color: var(--while-color);
    align-items: center;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
 
.search__input {
    padding: 8px;
    border: none;
    height: 38px;
    width: 220px;
    outline: none;
    color: var(--border-color);
}
 
.search__btn {
    border: none;
    background-color: var(--while-color);
    cursor: pointer;
    width: 43px;
    padding: 8px 0;
}
 
.next__search i {
    font-size: 1.8rem;
}

/* end head menu */



section {
    padding: 26px 10px;
    max-width: 1150px;
    margin: 0 auto;
}

.content__first-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first-part__left {
    display: inline;
    width: 70%;
}

.left__one {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--border-color);
}
.left__one--left {
    width: 65%;
}

.left__img {
    width: 100%;
}

.left__img:hover {
    opacity: 0.8;
}

.one--left__txt {
    font-size: 0.8rem;
    margin-top: 8px;
    color: var(--minuscule--color);
    font-weight: 600;
}

.left__one--left_link {
    text-decoration: none;
}

.left__one--left_h1 {
    font-size: 5.1rem;
    line-height: 5.5rem;
    font-weight: 500;
    color: var(--black-text-color);
}

.left__one--left_h1:hover {
    color: var(--color--hover);
}

.one--left__p {
    margin: 20px 0;
    font-size: 1.8rem;  
    font-weight: 300;
    line-height: 2.8rem;
}

.by-paul-grahan {
    font-size: 1.5rem;
    margin-bottom: 26px;
    font-weight: 300;
}

.by-paul-grahan a {
    text-decoration: none;
    color: var(--red-text-color);
}

.by-paul-grahan:hover a{
    opacity: 0.8;
}

.favourite {
    display: flex;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 132px;
    border-radius: 5px;
}

.favourite-nav {
    display: flex;
    padding: 15px 7px;
    margin-left: 7px ;
    align-items: center;
    font-size: 1.2rem;
}

.favourite__icon {
    margin-right: 8px;
    color: var(--icon--color);
}

.left__one--right {
    width: 35%;
    margin-left: 20px;
}
.one__right {
    display: inline-block;
}

.one_right-link {
    text-decoration: none;
    color: var(--black-text-color);
}

.img__right {
    width: 100%;
}

.img__right:hover {
    opacity: 0.8;
}

.content__first-part__txt {
    font-size: 0.8rem;
    margin-top: 8px;
    color: var(--minuscule--color);
    font-weight: 600;
}

.content__first-part__p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
}

.content__first-part__p:hover {
    color: var(--color--hover);
}

.one__right--favourite {
    display: flex;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 132px;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 30px;
    
}

.one__right__favourite-nav {
    display: flex;
    padding: 15px 7px;
    margin-left: 7px ;
    align-items: center;
    font-size: 1.2rem;
}

.one__right--favourite__icon {
    margin-right: 8px;
    color: var(--icon--color);
}

.highligh {
    width: 100%;
    border-bottom: 3px solid var(--border-color);
}

.highligh-h1 {
    margin: 18px 0;
    font-size: 2.2rem;
    font-weight: 400;
}

.highligh__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.layout-two__one {
    width: 48.5%;
    margin-bottom: 40px;
}

.layout-two__one-link {
    text-decoration: none;
    color: var(--black-text-color);
}

.layout-two__one-link:hover {
    opacity: 0.8;
}

.layout-two__one-img {
    width: 100%;
}

.layout-two__one-txt {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

.highligh--favourite {
    display: flex;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 132px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.highligh__favourite-nav {
    display: flex;
    padding: 15px 7px;
    margin-left: 7px ;
    align-items: center;
    font-size: 1.2rem;
}

.highligh--favourite__icon {
    margin-right: 8px;
    color: var(--icon--color);
}

.editors-picks {
    padding-bottom: 20px;
    border-bottom: 3px solid var(--border-color);
}

.editors-picks__h1 {
    margin-top: 18px;
    font-size: 2.2rem;
    font-weight: 400;
}

.editors-picks__box {

    display: flex;
    padding: 23px 0;
}

.editors-picks__box + .editors-picks__box {
    border-top: 1px solid var(--border-color);
}

.editors-picks_link {
    text-decoration: none;
    color: var(--black-text-color);
}

.editors-picks__box-img {
    width: 175px;
}

.box-nd__editors-picks {
    display: inline;
    margin-left: 15px;
}

.editors-picks__mustreads {
    font-size: 0.8rem;
    color: var(--minuscule--color);
    font-weight: 600;
}

.editors-picks__txt {
    font-weight: 600;
    margin: 4px 0;
    font-size: 1.8rem;
    padding: 5px 0;
}

.editors-picks__txt:hover {
    color: var(--color--hover);
}

.editors-picks__box-txt {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2rem;
}

.by-hours {
    display: flex;
    margin-top: 11px;
    font-size: 1.2rem;
}

.by-name a {
    text-decoration: none;
    color: var(--red-text-color);
}

.hours-ago {
    margin-left: 5px;
    color: var(--minuscule--color);
}

.popular-posts {
    display: block;
    width: 100%;
}

.popular-posts__h1 {
    margin: 18px 0;
    font-size: 2.2rem;
    font-weight: 400;
}

.popular-posts__box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popular-posts__box-left {
    width: 49%;
}

.popular-posts_link {
    text-decoration: none;
    color: var(--black-text-color);
}

.popular-posts__box-left-img {
    width: 100%;
}

.popular-posts__mustreads {
    font-size: 0.8rem;
    color: var(--minuscule--color);
    font-weight: 600;
    margin-top: 5px;
}

.popular-posts__txt-one {
    font-weight: 600;
    margin: 5px 0;
    font-size: 1.7rem;
}

.popular-posts__txt-one:hover {
    color: var(--color--hover);
}

.popular-posts__txt-two {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.popular-posts__txt-three {
    font-size: 1.2rem;
}

.john-doe_link {
    text-decoration: none;
    color: var(--red-text-color);
}

.popular-posts_favourite {
    display: flex;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 132px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popular-posts_favourite-nav {
    display: flex;
    padding: 15px 7px;
    margin-left: 7px ;
    align-items: center;
    font-size: 1.2rem;
}

.popular-posts-favourite__icon {
    margin-right: 8px;
    color: var(--icon--color);
}


.popular-posts__box-right {
    margin-left: 15px;
    width: 49%;
}

.box-right__seven {
    display: flex;
    padding-bottom: 15px;
}

.box-right__seven:hover {
    opacity: 0.8;
}

.box-right__seven + .box-right__seven {
    padding-top: 15px;
    border-top: 1px solid var(--border-color);
}

.popular-posts__box-right_link {
    text-decoration: none;
    color: var(--black-text-color);
}

.box-right__seven-img {
    width: 110px;
}

.box-right__seven-txt {
    margin-left: 10px;
}

.seven-txt__one {
    margin-bottom: 5px;
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 300;
    cursor: pointer;
}

.seven-txt__two {
    font-size: 1.2rem;
    color: var(--minuscule--color);
}

.first-part__right {
    max-width: 30%;
    margin-left: 20px;
}

.first-part__right__recent-pots {
    height: auto;
    padding-bottom: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.right__recent-pots__h1 {
    color: var(--red-text-color);
    font-weight: 400;
    font-size: 2.2rem;
    padding: 0 15px ;
    margin-top: 18px;
}

.recent-pots__box-three {
    display: flex;
    padding: 20px 0;
    margin: 0 18px;
}

.recent-pots__box-three:hover {
    opacity: 0.8;
}

.recent-pots__box-three + .recent-pots__box-three {
    border-top: 1px solid var(--border-color);
}

.recent-pots__box-three__img {
    width: 110px;
    height: 75px;
}

.first-part__right__recent-pots_link {
    text-decoration: none;
    color: var(--black-text-color);
}

.recent-pots__box-three__txt {
    margin: 0 13px;
}

.recent-pots__box-three__txt-one {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 300;
}

.recent-pots__box-three__txt-two {
    margin-top: 8px;
    font-size: 1.4rem;
    color: var(--minuscule--color);
}

.first-part__right-box__img {
    width: 100%;
    height: auto;
    margin: 40px 0;
}

.first-part__right-box__img-link {
    width: 100%;
    text-decoration: none;
}

.img_right-box {
    width: 100%;
}

.box__img-txt {
    float: right;
    font-size: 1rem;
    color: var(--minuscule--color);
}

.most-popular__box {
    width: 100%;
    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.box_box-most-popular {
    padding: 20px 20px 0 20px;
}

.most-popular__h1 {
    color: var(--text--red--color);
    font-size: 2.2rem;
    font-weight: 400;
}

.most-popular__box-list {
    display: flex;
    padding: 20px 0;
}

.most-popular__box-list + .most-popular__box-list {
    border-top: 1px solid var(--border-color);
}

.most-popular__box-number {
    font-size: 1.5rem;
    line-height: 2.2rem;
    color:var(--red-text-color);
}

.most-popular_link {
    text-decoration: none;
    color: var(--black-text-color);
}

.most-popular_link:hover {
    color: var(--color--hover);
}

.most-popular__box-txt {
    margin-left: 15px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
}

.activate {
    margin-top: 30px;
    width: 100%;
}

.tabs {
    display: flex;
    width: 100%;
}

.activate__title {
    position: relative;
    padding: 12px;
    border: 1px solid var(--while-color);
    background-color: var(--while-color);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-text-color);
}

.activate__title:nth-child(1) {
    background-color: var(--minuscule--color);
}

.activate__title:hover {
    background-color: var(--minuscule--color);
}

.activate__title:hover .comment__list  {
    display: block;
}

.comment__list {
    position: absolute;
    z-index: 1;
    width: 373%;
    top: 40px;
    left: 0;
    list-style: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.comment__item {
    padding: 0 16px;
}

.comment__item + .comment__item {
    border-top: 1px solid var(--border-color);
}

.comment__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 0;
}

.comment__link:hover .comment__icon {
    color: var(--minuscule--color);
}

.comment__icon {
    font-size: 5rem;
    color: var(--border-color);
    margin-right: 10px;
}

.comment__txt {
    font-size: 1.3rem;
    color: var(--black-text-color);
    font-weight: 300;
    /* line-height: 2rem; */
}

.comment__txt span {
    color: var(--minuscule--color);
    cursor: default;
}

.follow-us {
    width: 100%;
    margin-top: 500px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.follow-us__h1 {
    font-size: 2.2rem;
    padding: 15px 20px;
    font-weight: 400;
}

.follow-us__icon {
    padding: 0 20px;
    margin-bottom: 20px;
}

.follow-us__icon-link {
    text-decoration: none;
}

.follow-us__icon i{
    font-size: 5rem;
    cursor: pointer;
}

.icon__face {
   color: rgb(60, 90, 155);
}

.icon__face:hover {
    opacity: 0.8;
}

.icon__twitter {
    color: rgb(31, 193, 241);
}

.icon__twitter:hover {
    opacity: 0.8;
}

.icon__google {
    color: rgb(223, 73, 50);
}

.icon__google:hover {
    opacity: 0.8;
}

.icon__youtube {
    color: rgb(207, 19, 18);
}

.icon__youtube:hover {
    opacity: 0.8;
}

.icon__youtube:hover {
    opacity: 0.8;
}

.icon__insision {
    color: rgb(0, 123, 185);
}

.icon__insision:hover {
    opacity: 0.8;
}

.icon__instagram {
    color: #c31e79;
}

.icon__instagram:hover {
    opacity: 0.8;
}

.archives {
    height: auto;
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.archives__h1 {
    padding: 15px;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text--red--color);
}

.archives__list {
    list-style: none;
}

.archives__item {
    padding: 10px 0;
    margin: 0 15px;
    font-size: 1.4rem;
    font-weight: 300;
}

.archives__item:hover .archives-link{
    color: var(--color--hover);
}

.archives-link {
    text-decoration: none;
    color: var(--black-text-color);
}

.archives__item span {
    color: var(--minuscule--color);
    cursor: default;
}

.archives__item + .archives__item {
    border-top: 1px solid var(--border-color);
}

.good-new {
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.newsetter__h1 {
    padding: 15px;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--red-text-color);
    line-height: 2.2rem;
}

.good-new__txt {
    font-size: 1.2rem;
    padding: 0 15px;
    font-weight: 300;
}

.good-new__box {
    display: inline-flex;
    width: 90%;
    margin: 15px;
    border: 1px solid var(--border-color);
}

.good-new__input {
    width: 70%;
    border: none;
    outline: none;
    padding: 14px;
    font-size: 14px;
}

.good-new__button {
    width: 30%;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: var(--red-text-color);
}

.good-new__button:hover {
    opacity: 0.8;
}

.content__the-rest {
    width: 100%;
}

.the-rest__slide {
    width: 100%;
    padding-bottom: 110px;
    border-bottom: 3px solid var(--border-color);
}

.slideshow {
    position: relative;
    width: 100%;
    height: 670px;
    background-image: url(/images/slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slideshow__img {
    margin-top: 288px;
    width: 100%;
    height: 57%;
    object-fit: cover;
}

.slideshow__info {
    position: absolute;
    display: flex;
    align-items: center;
    width: 66%;
    height: 120px;
    left: 0;
    bottom: 0;
    padding: 26px;
    background-color: #181818;
}

.slideshow__info-name {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--while-color);
}

.slide__page {
    margin-top: 20px;
}

.slide__page-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 56px;
}

.slide__page-item {
    padding: 10px;
    cursor: pointer;
}

.slide__page-item:nth-child(2) .slide__page-link {
    color: var(--black-text-color);
}

.slide__page-link{
    font-size: 1.4rem;
    color: var(--border-color); 
}

.slide__page-item:hover .slide__page-link{
    color: var(--black-text-color);
}

.the-rest__trending {
    width: 100%;
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 45px;
}

.trending__txt {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 15px 0;
}

.trending__box {
    width: 100%;
    display: flex;
    justify-items: center;
}

.trending__box-four {
    width: 25%;
}

.trending__box-four + .trending__box-four {
    margin-left: 20px;
}

.trending__img {
    width: 100%;
    height: 160px;
}

.trending__list {
    list-style: none;
}

.trending__item {
    padding: 18px 0;
    border-bottom: 1px solid var(--border-color);
}

.trending__link-bold {
    text-decoration: none;
    color: var(--black-text-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.trending__link-bold:hover {
    color: var(--color--hover);
}

.trending__date {
    font-size: 12px;
    padding-bottom: 7px;
    color: var(--minuscule--color);
    font-weight: 300;
}

.trending__link {
    text-decoration: none;
    color: var(--black-text-color);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.trending__link:hover {
    color: var(--color--hover);
}

.the-rest__social-media {
    width: 100%;
    padding-bottom: 30px;
}

.social-media__txt {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 15px 0;
}

.social-media__list {
    list-style: none;
}

.social-media__item {
    width: 100%;
    display: flex;
    padding-bottom: 18px;
}

.social-media__link-img {
    display: block;
}

.social-media__img {
    width: 360px;
    height: 245px;
}

.social-media__item:hover .social-media__img {
    opacity: 0.8;
} 

.social-media__content {
    margin-left: 15px;
    width: 390px;
}

.social-media_mustreads {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--minuscule--color);
    margin-bottom: 5px;
}

.social-media__link {
    text-decoration: none;
    color: var(--black-text-color);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3rem;
}

.social-media__link:hover {
    color: var(--color--hover);
}

.txt_one {
    margin-top: 6px;
    font-size: 1.7rem;
    line-height: 2.7rem;
    font-weight: 300;
}

.social-media-favourite {
    display: flex;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 132px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.social-media__favourite-nav {
    display: flex;
    padding: 15px 7px;
    margin-left: 7px ;
    align-items: center;
    font-size: 1.2rem;
}

.social-media__icon {
    margin-right: 8px;
    color: var(--icon--color);
}

footer {
    width: 100%;
    background-color: #252525;
}

.footer-one {
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
}

.logo-icon {
    width: 370px;
}

.footer-one__logo {
    padding: 25px 0;
    border-bottom: 1px solid var(--border-color);
}

.logo__red {
    width: 60%;
    margin-bottom: 10px;
}

.logo-red__txt {    
    color: var(--minuscule--color);
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.footer-one__icon {
    padding: 20px 0;
}

.follow-us__txt {
    font-size: 1.5rem;
    color: var(--while-color);
    font-weight: 400;
}

.footer-follow-us__icon {
    font-size: 4.5rem;
    margin: 20px 0;
}

.footer-follow-us__icon-link {
    color: var(--while-color);
}

.footer-follow-us__icon-link:hover {
    opacity: 0.8;
}

.follow-us__hello {
    font-size: 1.2rem;
    color: var(--minuscule--color);
}

.twitter__box {
    width: 360px;
    padding: 25px 0;
    margin: 0 20px;
}

.twitter__txt {
    color: var(--while-color);
    font-weight: 400;
    font-size: 1.2rem;
}

.twitter__list {
    padding: 12px 0;
    list-style: none;
}

.twitter__item {
    padding: 10px 0;
}

.twitter-link {
    color: var(--minuscule--color);
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.twitter-link-txt:hover {
    opacity: 0.8;
}

.twitter__item-date {
    color: rgb(96, 88, 88);
    padding-top: 5px;
}

.main_about {
    width: 365px;
    padding: 35px 0;
    display: flex;
}

.main-list {
    width: 60%;
    list-style: none;
}

.main-list + .main-list {
    margin-left: 20px;
}

.main-txt {
    font-size: 1.2rem;
    color: var(--while-color);
    font-weight: 400;
}

.main__item {
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--minuscule--color);
    border-bottom: 1px solid var(--color--hover);
}

.main__item:hover {
    opacity: 0.8;
}

.main_about-link {
    text-decoration: none;
    width: 40%;
    color: var(--minuscule--color);
}

.footer_borter {
    padding: 15px 10px;
    width: 1150px;
    margin-top: 20px;
    background-color: rgb(30, 30, 30);
}

.borter_date {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--minuscule--color);
}
