:root {
    --red-text-color : rgb(230,44,37);
    --black-text-color : rgb(0, 0, 0);
    --border-color : rgb(235,235,235);
    --while-color : #fff;
    --icon--color : rgb(207,208,201);
    --minuscule--color: rgb(161,161,161); 
    --text--red--color: red;
    --color--hover: rgba(49, 61, 63, 0.8);
}

@media (max-width:1023px) {
    .language__txt {
        display: none;
    }

    nav {
        display: none;
    }

    .nav_bars-btn {
        display: block;
    }

    .first-part__left {
        width: 100%;
    }

    .first-part__right {
        display: none;
    }
}
/* Begin Mobile */
@media only screen and (max-width:739px) {
    /* Begin header */

    /* begin head top */
    .login__btn {
        text-decoration: none;
        color: var(--black-text-color);
        background-color: var(--while-color);
        font-size: 1.8rem;
        font-weight: 300;
        padding: 15px 20px;
        border-radius: 5px;
    }

    .login__btn:hover{
        color: var(--text--red--color);
    }

    .member__btn {
        display: none;
    }
    /* end head top */

    /* begin head menu */

    /* end head menu */

    /* End header */

    /* Begin section */
    .left__one {
        display: block;
    }

    .left__one--left {
        width: 100%;
    }
    
    .left__one--right {
        margin: 15px 0;
        width: 100%;
    }

    .one__right--favourite {
        margin: 15px 0;
    }

    .highligh__box {
        display: block;
    }

    .layout-two__one {
        width: 100%;
        margin-bottom: 25px;
    }

    .highligh--favourite {
        margin-top: 15px;
    }

    .editors-picks__box {
        display: block;
        padding: 0;
        margin-bottom: 20px;
    }

    .editors-picks__box + .editors-picks__box {
        border: none;
    }

    .editors-picks__box-img{
        width: 100%;
    }

    .popular-posts__box {
        display: block;
    }

    .popular-posts__box-left {
        width: 100%;
    }

    .popular-posts__box-right {
        width: 100%;
        margin-left: 0;
        margin: 25px 0;
    }

    .box-right__seven {
        display: block;
        padding: 0;
        margin-bottom: 15px;
    }

    .box-right__seven-img {
        width: 100%;
    }

    .box-right__seven + .box-right__seven {
        padding: 0;
        border: none;
    }

    .box-right__seven-txt {
        margin: 0;
    }

    .slideshow {
        height: 400px
    }

    .slideshow__info {
        width: 100%;
        max-height: 140px;
    }

    .slideshow__img {
        margin-top: 172px;
    }

    .trending__box {
        display: block;
    }

    .trending__box-four {
        width: 100%;
    }

    .trending__img {
        height: auto;
    }

    .trending__box-four + .trending__box-four {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .social-media__item {
        display: block;
    }

    .social-media__img {
        width: 100%;
        height: auto;
    }

    .social-media__content {
        margin: 0;
        width: auto;
    }

    .social-media-favourite {
        margin: 10px 0;
    }

    .footer-one {
        flex-wrap: wrap;
    }

    .logo-icon {
        width: 100%;
    }

    .twitter__box {
        width: 100%;
        margin: 0;
        border-top: 1px solid var(--border-color);
    }

    .main_about {
        width: 100%;
        border-top: 1px solid var(--border-color);
    }
    /* End section */
}
 /* End Mobile */

 /* Begin Tablet */
@media (min-width:740px) and (max-width:1023px) {
    
}
 /* End tablet */